<ng-container *ngIf="isGestor; else notGestorContent">
  <div class="full-calendar">
    <full-calendar #calendar [options]="calendarOptions"></full-calendar>
  </div>
  <div class="button-container">
    <button mat-raised-button color="primary" class="clear-button" (click)="clearEvents()">LIMPIAR</button>
    <button mat-raised-button color="primary" class="verify-button" (click)="verifyEvents()">VERIFICAR</button>
  </div>
</ng-container>

<ng-template #notGestorContent>
  <div class="not-gestor-message">
    Debes acceder como gestor para poder ver este contenido.
  </div>
</ng-template>