<div class="info-section">
  <div class="text-block">
    <h2>Proyecto WorkHourWizard</h2>
    <p>Esta aplicación web es mi proyecto final del ciclo formativo de Desarrollo de Aplicaciones Web (DAW). 
      Consiste en una herramienta para gestionar las horas de trabajo de los empleados dentro de los horarios que ellos seleccionen como disponibles. 
      El proyecto ha sido desarrollado utilizando Spring Boot, Angular, MySQL y Docker. 
      Durante el desarrollo, he aplicado diversos conceptos y técnicas aprendidas en el ciclo formativo, como el diseño de interfaces de usuario, 
      el manejo de bases de datos y la programación orientada a objetos. Además, he utilizado Docker para el despliegue de la aplicación, 
      lo que ha facilitado la configuración y la gestión del entorno de ejecución.</p>
  </div>
  <div class="text-image-block">
    <div class="text-block">
      <h2>Acerca de mí</h2>
      <p>Soy Antonio Alfonso Gonzalez Rodriguez, alumno del CFGS de Desarrollo de Aplicaciones Web (DAW) en el IES Alixar. 
        Este proyecto representa mi trabajo de fin de ciclo y estoy entusiasmado de poder aplicar los conocimientos adquiridos durante mi formación en este proyecto.
      </p>
      <p>Quiero agradecer especialmente a mi tutor de proyecto, Chema, por su orientación y apoyo constante. 
        También quiero agradecer a mis tutores de prácticas y formación dual, Álvaro y Emilio, por su guía y enseñanzas durante este periodo. 
        Y al resto de mis compañeros del grupo de desarrollo por su colaboración y trabajo en equipo.</p>
    </div>
    <div class="image-block">
      <img src="../../../assets/imgs/aboutUs.jpg" alt="Imagen Sobre Nosotros">
    </div>
  </div>
</div>

