<form action="" class="register-form">
  <div class="form-block">
    <div class="input-container">
      <mat-form-field appearance="fill" class="my-input-focused">
        <mat-label>Nombre:</mat-label>
        <input matInput type="text" id="nombre" placeholder="Introduzca su nombre..." class="custom-input" />
      </mat-form-field>
    </div>
    <div class="input-container">
      <mat-form-field appearance="fill" class="my-input-focused">
        <mat-label>Apellido:</mat-label>
        <input matInput type="text" id="apellido" placeholder="Introduzca su apellido..." class="custom-input" />
      </mat-form-field>
    </div>
    <div class="input-container">
      <mat-form-field appearance="fill" class="my-input-focused">
        <mat-label>Email:</mat-label>
        <input matInput type="email" id="email" placeholder="Introduzca su email..." class="custom-input" />
      </mat-form-field>
    </div>
    <div class="input-container">
      <mat-form-field appearance="fill" class="my-input-focused">
        <mat-label>Contraseña:</mat-label>
        <input matInput type="password" id="password" placeholder="Introduzca su contraseña..." class="custom-input" />
      </mat-form-field>
    </div>
  </div>
  <div class="form-block">
    <div class="input-container">
      <mat-form-field appearance="fill" class="my-input-focused">
        <mat-label>DNI:</mat-label>
        <input matInput type="text" id="dni" placeholder="Introduzca su DNI..." class="custom-input" />
      </mat-form-field>
    </div>
    <div class="input-container">
      <mat-form-field appearance="fill" class="my-input-focused">
        <mat-label>Teléfono:</mat-label>
        <input matInput type="text" id="telefono" placeholder="Introduzca su teléfono..." class="custom-input" />
      </mat-form-field>
    </div>
    <div class="input-container">
      <mat-form-field appearance="fill" class="my-input-focused">
        <mat-label>Cargo:</mat-label>
        <mat-select>
          <mat-option value="OPERARIO">OPERARIO</mat-option>
          <mat-option value="SUPERVISOR">SUPERVISOR</mat-option>
          <mat-option value="GESTOR">GESTOR</mat-option>
          <mat-option value="ADMIN">ADMIN</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="input-container">
      <mat-form-field appearance="fill" class="my-input-focused">
        <mat-label>Seleccione Gestor:</mat-label>
        <mat-select>
          <mat-option value="gestor1">Gestor Uno</mat-option>
          <mat-option value="gestor2">Gestor Dos</mat-option>
          <mat-option value="gestor3">Gestor Tres</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="button-container">
    <div class="button-group">
      <button mat-raised-button color="warn" class="cancel-button">CANCELAR</button>
      <button mat-raised-button color="primary" class="submit-button">ENVIAR</button>
    </div>
  </div>
</form>

