.worker-list,
.not-admin-message {
  background-color: #e4dccf;
  width: 80%;
  margin: 2rem auto;
  padding: 2rem;
  text-align: center;
}

.worker-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

mat-form-field {
  margin-top: 1.45rem;
  width: 100%;
  margin-left: 0.5rem;
}

mat-form-field.single-width {
  max-width: 20rem;
}

mat-form-field.double-width {
  max-width: 35rem;
}

.edit-button {
  margin-left: 1rem;
  padding: 1.75rem 1rem;
  background-color: #7d9d9c !important;
  color: white;
  font-weight: 500;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  min-width: 10rem;
}

.edit-button:hover {
  background-color: #576f72;
}

.not-admin-message {
  font-size: 1.2em;
}

@media (max-width: 600px) {
  .worker-item {
    flex-direction: column;
  }

  .worker-list,
  .not-admin-message {
    width: 95%;
    padding: 1rem;
  }

  mat-form-field {
    margin-top: 1rem;
    margin-left: 0;
  }

  mat-form-field.single-width,
  mat-form-field.double-width {
    max-width: none;
  }

  .edit-button {
    margin-left: 0;
    margin-top: 1rem;
    padding: 1.25rem 0.5rem;
    min-width: none;
    width: 100%;
  }
}

@media (max-width: 900px) {

  .worker-list,
  .not-admin-message {
    width: 90%;
    padding: 1rem;
  }
}