<form class="login-form" [formGroup]="form" (ngSubmit)="login()">
  <div class="input-container">
    <mat-form-field appearance="fill" class="my-input-focused custom-mat-form-field">
      <mat-label>EMAIL:</mat-label>
      <input matInput type="email" id="email" placeholder="Introduzca su email..." class="custom-input" formControlName="email"/>
    </mat-form-field>
  </div>
  <div class="input-container">
    <mat-form-field appearance="fill" class="my-input-focused custom-mat-form-field">
      <mat-label>CONTRASEÑA:</mat-label>
      <input matInput type="password" id="password" placeholder="Introduzca su contraseña..." class="custom-input" formControlName="password"/>
    </mat-form-field>
  </div>
  <div class="forgot-password">
    <a routerLink="/recuperar-password" class="custom-link">¿Ha olvidado su contraseña?</a>
  </div>
  <div class="button-container">
    <button mat-raised-button color="primary" class="login-button" [disabled]="!form.valid">INGRESAR</button>
  </div>
  <div class="register-link">
    <a routerLink="/registro" class="custom-link">REGISTRARSE</a>
  </div>
</form>















