.login-form,
.reset-password-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #e4dccf;
  width: 60%;
  margin: 6rem auto;
  padding: 2rem;
  text-align: center;
}

.input-container {
  margin-bottom: 1rem;
  width: 100%;
}

.custom-input {
  width: 100%;
  max-width: 25rem;
}

.forgot-password,
.register-link {
  font-weight: bold;
  margin-top: 1rem;
}

.forgot-password a,
.register-link a {
  color: #7d9d9c;
  text-decoration: none;
  font-size: 1rem;
}

.forgot-password a:visited,
.register-link a:visited {
  color: #576f72;
}

.button-container {
  width: 100%;
}

.login-button,
.reset-password-button,
.cancel-button {
  width: 100%;
  max-width: 25rem;
  margin-top: 1rem;
  padding: 1.75rem 1rem;
  font-weight: 500;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  background-color: #7d9d9c !important;
  color: white;
}

.login-button:hover,
.reset-password-button:hover,
.cancel-button:hover {
  background-color: #576f72;
}

.custom-mat-form-field {
  width: 100%;
  max-width: 25rem;
}