.login-form {
  background-color: #e4dccf;
  width: 80%;
  margin: 8rem auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-container {
  width: 70%;
  margin: auto;
}

input {
  border: 1px solid #7d9d9c;
  border-radius: 5px;
  width: 100%;
}

.forgot-password a,
.register-link a {
  color: #7d9d9c;
  text-decoration: none;
}

.forgot-password a:visited,
.register-link a:visited {
  color: #576f72;
}

.login-button {
  background-color: #7d9d9c;
  color: white;
  font-weight: 500;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s ease;
  width: 50%;
  margin-top: 1rem;
}

.login-button:hover {
  background-color: #576f72;
}

.forgot-password {
  font-weight: bold;
}

.register-link {
  margin-top: 1rem;
  font-weight: bolder;
}





  