@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

* {  
    box-sizing: border-box;
    font-family: "Fira Sans", Arial, sans-serif;

}

body{
    background-color: #F0EBE3 ;
    margin: 0;
}



html{ height: 100%;
    width: 100%;
}


 

